
@{
    ViewBag.Title = "Home Page!!!";
}

<h2>@ViewBag.Title</h2>
@foreach (var acc in ViewBag.acc)
{
    <div class=" panel-body">
        @Html.Label("username", "username")
        <br />
        <p>@acc.userName</p>

        @Html.Label("email", "email: ")
        <br />
        <p>@acc.Email</p>

        
    </div>
}


